/* Desktop View */
  .desktop-menu {
    display: block;
  }
  div.banner .mobile-menu {
    display: none;
  }  
  .navbar{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.16em;
    color: #000000;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content:  space-between;
  }
  .login-btn{
    background-color: whitesmoke;
    color: black;
    padding: 10px 26px;
    background: #FFFFFF;
    border: 3px solid #4A4A4A;
    border-radius: 300px;
  }
  .logo{
    cursor: pointer;
    height: 100px;
    width: 200px;
  }
  .navbar ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
    position: relative;
    cursor: pointer;
  }
  .navbar ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }
  .navbar ul li::after {
    content: '';
    height:  3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
    cursor: pointer;
  }
  .navbar ul li:hover::after {
    width: 100%;
  }
  .navbar-nav {
    text-align: center;
  }

@media only screen and (min-width: 981px) and (max-width: 1370px) { 

  .navbarul li{
    list-style: none;
    display: inline-block;
    padding: 0px 10px;
    position: relative;
    cursor: pointer;
  }
  .navbar ul li {
    padding: 0px 2px;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0.16em;
  }
  .navbar ul li a{  
    font-size: 14px;
  }
  
}

/* Tab View - 769px */
@media only screen and (min-width: 765px) and (max-width: 980px) {
  
  .logo.desktop-menu{
    height: 37px;
    width: 150px;
  }
  .desktop-menu {
    margin: auto;
  }
  .navbar{
    width: 98%;
    margin: auto;
    height: 100px;
  }
  .navbar ul li {
    padding: 0px 15px;
  }
  .navbar ul li a{
    text-align: center;
    padding: 5px 2px;
    font-style: normal;
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0.16em;
  }
  .login-btn{
    text-align: center;
    width: 105px;
    padding: 5px;
    height: 32px;
  }

}

/* Mobile View - 376px */
@media only screen and (max-width: 767px){

  .desktop-menu {
    display: none;
  }
  div.banner .mobile-menu {
    display: block;
    background-color: white;
  }
  button[aria-expanded="true"] > span.close {
    display: inline;
    color: #fff;
    opacity: 1;
  }
  button[aria-expanded="true"] > span.navbar-toggler-icons {
    display: none;
  }
  button[aria-expanded="false"] > span.close {
    display: none;
  }
  .hamburger{
    display: block;
  }
  span.close {
    display: none;
  }
  .navbar-toggler{
    float: right;
    padding: 2px;
    border: none;
    outline: none;
  }
  .navbar ul li{
    margin: 20px 0px;
  }
  li.nav-item{
    margin-left: 120px;
  }
  div.banner .mobile-menu li:hover {
    background-color: #80808052;
  }
  .login-btn {
    background-color:#f8f9fa;
    border: 1px solid white;
  }
  
@media only screen and (min-width: 317px) and (max-width: 360px) {

  .navbar-nav {
    width: 100%;
  }

}
}